<div class="totalseq-container">
    <div class="row totalseq-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 totalseq-header">
            <h1>Reagents</h1>
            <p>
                Discover our expansive portfolio of primary and secondary antibodies and reagents. Designed with our customer’s research needs in mind, we offer antibody solutions in a variety of formats and species across applications.
            </p>
        </div>

        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="card-container">
                <div class="sub-card col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let card of cards">
                    <img mat-card-image [src]="card.image" alt="{{ card.title }}">
                    <div class="text-content">
                        <h2 class="totalseq-container-header">{{ card.title }}</h2>
                        <p class="totalseq-container-sub-header">{{ card.description }}</p>
                    </div>
                    <a mat-button class="total-seq-link" color="primary" (click)="searchResults()">{{ card.linkText }}</a>
                </div>
            </div>
        </div>
        
    </div>
</div>